body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:253px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:212px;
  top:179px;
  width:39px;
  height:24px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:212px;
  top:179px;
  width:39px;
  height:24px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:212px;
  top:276px;
  width:39px;
  height:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:212px;
  top:276px;
  width:39px;
  height:24px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:24px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:6px;
  top:163px;
  width:194px;
  height:74px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:74px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:6px;
  top:263px;
  width:200px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:6px;
  top:2px;
  width:30px;
  height:14px;
  font-size:11px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:217px;
  top:2px;
  width:36px;
  height:14px;
  font-size:11px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:116px;
  top:2px;
  width:28px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:30px;
  top:68px;
  width:200px;
  height:30px;
  font-size:12px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:6px;
  top:30px;
  width:38px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:66px;
  top:348px;
  width:128px;
  height:30px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
}
#u22_img.disabled {
}
#u22.disabled {
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:124px;
  word-wrap:break-word;
}
