body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:462px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:462px;
}
#u1 {
  position:absolute;
  left:2px;
  top:223px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:54px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:54px;
}
#u3 {
  position:absolute;
  left:2px;
  top:19px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:2px;
  width:30px;
  height:14px;
  font-size:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:217px;
  top:2px;
  width:36px;
  height:14px;
  font-size:11px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:116px;
  top:2px;
  width:28px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:7px;
  top:23px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:173px;
  top:22px;
  width:23px;
  height:23px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:234px;
  top:25px;
  width:17px;
  height:17px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:6px;
  top:62px;
  width:174px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:186px;
  top:62px;
  width:67px;
  height:25px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u17_img.disabled {
}
#u17.disabled {
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:6px;
  top:95px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:6px;
  top:144px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:6px;
  top:193px;
}
#u44_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u48 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:6px;
  top:242px;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u60 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:6px;
  top:291px;
}
#u68_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u68_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:6px;
  top:340px;
}
#u80_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u80_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u82 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u84 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:6px;
  top:389px;
}
#u92_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u92_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u94 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u96 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:6px;
  top:438px;
}
#u104_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u104_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:202px;
  top:23px;
  width:21px;
  height:21px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u116 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
