body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:980px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:2939px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:2939px;
}
#u841 {
  position:absolute;
  left:2px;
  top:1462px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:50px;
  background:inherit;
  background-color:rgba(254, 235, 239, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:50px;
}
#u843 {
  position:absolute;
  left:2px;
  top:17px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u844 {
  position:absolute;
  left:0px;
  top:5px;
  width:43px;
  height:40px;
}
#u845 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:1580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  position:absolute;
  left:0px;
  top:200px;
  width:660px;
  height:1580px;
}
#u847 {
  position:absolute;
  left:2px;
  top:782px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u848 {
  position:absolute;
  left:30px;
  top:230px;
  width:576px;
  height:40px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:34px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  white-space:nowrap;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:501px;
}
#u850 {
  position:absolute;
  left:680px;
  top:70px;
  width:300px;
  height:500px;
}
#u851 {
  position:absolute;
  left:2px;
  top:242px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:201px;
}
#u852 {
  position:absolute;
  left:680px;
  top:620px;
  width:230px;
  height:200px;
}
#u853 {
  position:absolute;
  left:2px;
  top:92px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u854 {
  position:absolute;
  left:30px;
  top:280px;
  width:65px;
  height:16px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u856 {
  position:absolute;
  left:117px;
  top:280px;
  width:88px;
  height:19px;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:225px;
  top:280px;
  width:27px;
  height:19px;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:27px;
}
#u860 {
  position:absolute;
  left:30px;
  top:317px;
  width:421px;
  height:27px;
}
#u861 {
  position:absolute;
  left:2px;
  top:6px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u863 {
  position:absolute;
  left:30px;
  top:370px;
  width:85px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u865 {
  position:absolute;
  left:30px;
  top:396px;
  width:596px;
  height:64px;
  font-size:14px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:375px;
}
#u867 {
  position:absolute;
  left:0px;
  top:510px;
  width:660px;
  height:374px;
}
#u868 {
  position:absolute;
  left:2px;
  top:179px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u869 {
  position:absolute;
  left:280px;
  top:886px;
  width:49px;
  height:50px;
}
#u870 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:51px;
}
#u871 {
  position:absolute;
  left:331px;
  top:886px;
  width:49px;
  height:50px;
}
#u872 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874 {
  position:absolute;
  left:30px;
  top:964px;
  width:141px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u876 {
  position:absolute;
  left:30px;
  top:994px;
  width:600px;
  height:96px;
  font-size:14px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u879 {
  position:absolute;
  left:30px;
  top:1124px;
  width:92px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u881 {
  position:absolute;
  left:30px;
  top:1156px;
  width:600px;
  height:112px;
  font-size:14px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884 {
  position:absolute;
  left:30px;
  top:1302px;
  width:86px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u886 {
  position:absolute;
  left:30px;
  top:1334px;
  width:600px;
  height:144px;
  font-size:14px;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:30px;
  top:1512px;
  width:61px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u891 {
  position:absolute;
  left:30px;
  top:1544px;
  width:600px;
  height:64px;
  font-size:14px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u894 {
  position:absolute;
  left:30px;
  top:1642px;
  width:66px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u896 {
  position:absolute;
  left:30px;
  top:1674px;
  width:600px;
  height:32px;
  font-size:14px;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:27px;
}
#u898 {
  position:absolute;
  left:30px;
  top:1740px;
  width:421px;
  height:27px;
}
#u899 {
  position:absolute;
  left:2px;
  top:6px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u901 {
  position:absolute;
  left:524px;
  top:1746px;
  width:16px;
  height:16px;
}
#u902 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:546px;
  top:1746px;
  width:84px;
  height:16px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:0px;
  top:1830px;
  width:660px;
  height:80px;
}
#u907 {
  position:absolute;
  left:2px;
  top:32px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u908 {
  position:absolute;
  left:30px;
  top:1848px;
  width:157px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u908_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u908.mouseOver {
}
#u908_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u908.mouseDown {
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u910 {
  position:absolute;
  left:30px;
  top:1877px;
  width:59px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u912 {
  position:absolute;
  left:116px;
  top:1877px;
  width:44px;
  height:19px;
  font-size:12px;
  color:#999999;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u914 {
  position:absolute;
  left:525px;
  top:1864px;
  width:100px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u916 {
  position:absolute;
  left:30px;
  top:1909px;
  width:630px;
  height:1px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-8px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:0px;
  top:1780px;
  width:660px;
  height:50px;
}
#u920 {
  position:absolute;
  left:2px;
  top:17px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u921 {
  position:absolute;
  left:30px;
  top:1805px;
  width:127px;
  height:15px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:0px;
  top:1910px;
  width:660px;
  height:80px;
}
#u925 {
  position:absolute;
  left:2px;
  top:32px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u926 {
  position:absolute;
  left:30px;
  top:1928px;
  width:157px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u926_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u926.mouseOver {
}
#u926_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u926.mouseDown {
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u928 {
  position:absolute;
  left:30px;
  top:1957px;
  width:59px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u930 {
  position:absolute;
  left:116px;
  top:1957px;
  width:44px;
  height:19px;
  font-size:12px;
  color:#999999;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u932 {
  position:absolute;
  left:525px;
  top:1944px;
  width:100px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u934 {
  position:absolute;
  left:30px;
  top:1989px;
  width:630px;
  height:1px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:0px;
  top:1990px;
  width:660px;
  height:80px;
}
#u937 {
  position:absolute;
  left:2px;
  top:32px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u938 {
  position:absolute;
  left:30px;
  top:2006px;
  width:157px;
  height:19px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u938_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u938.mouseOver {
}
#u938_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u938.mouseDown {
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u940 {
  position:absolute;
  left:30px;
  top:2035px;
  width:59px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u942 {
  position:absolute;
  left:116px;
  top:2035px;
  width:44px;
  height:19px;
  font-size:12px;
  color:#999999;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u944 {
  position:absolute;
  left:531px;
  top:2018px;
  width:100px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:0px;
  top:2090px;
  width:980px;
  height:440px;
}
#u948 {
  position:absolute;
  left:2px;
  top:212px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u949 {
  position:absolute;
  left:30px;
  top:2114px;
  width:178px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:171px;
}
#u951 {
  position:absolute;
  left:30px;
  top:2170px;
  width:290px;
  height:170px;
}
#u952 {
  position:absolute;
  left:2px;
  top:77px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:2px;
}
#u953 {
  position:absolute;
  left:0px;
  top:2149px;
  width:980px;
  height:1px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u955 {
  position:absolute;
  left:30px;
  top:2350px;
  width:290px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:171px;
}
#u957 {
  position:absolute;
  left:660px;
  top:2170px;
  width:290px;
  height:170px;
}
#u958 {
  position:absolute;
  left:2px;
  top:77px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u959 {
  position:absolute;
  left:660px;
  top:2350px;
  width:290px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:171px;
}
#u961 {
  position:absolute;
  left:345px;
  top:2170px;
  width:290px;
  height:170px;
}
#u962 {
  position:absolute;
  left:2px;
  top:77px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u963 {
  position:absolute;
  left:345px;
  top:2350px;
  width:290px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u965 {
  position:absolute;
  left:30px;
  top:2417px;
  width:117px;
  height:22px;
}
#u966 {
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u967 {
  position:absolute;
  left:345px;
  top:2417px;
  width:117px;
  height:22px;
}
#u968 {
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u969 {
  position:absolute;
  left:660px;
  top:2417px;
  width:117px;
  height:22px;
}
#u970 {
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:2px;
}
#u971 {
  position:absolute;
  left:0px;
  top:2461px;
  width:980px;
  height:1px;
}
#u972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u973 {
  position:absolute;
  left:30px;
  top:2485px;
  width:199px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:right;
}
#u975 {
  position:absolute;
  left:823px;
  top:2114px;
  width:127px;
  height:16px;
  color:#CCCCCC;
  text-align:right;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:390px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  position:absolute;
  left:0px;
  top:2530px;
  width:980px;
  height:390px;
}
#u979 {
  position:absolute;
  left:2px;
  top:187px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:30px;
  top:2554px;
  width:141px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:171px;
}
#u982 {
  position:absolute;
  left:30px;
  top:2610px;
  width:290px;
  height:170px;
}
#u983 {
  position:absolute;
  left:2px;
  top:77px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:2px;
}
#u984 {
  position:absolute;
  left:0px;
  top:2589px;
  width:980px;
  height:1px;
}
#u985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u986 {
  position:absolute;
  left:30px;
  top:2790px;
  width:290px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:171px;
}
#u988 {
  position:absolute;
  left:660px;
  top:2610px;
  width:290px;
  height:170px;
}
#u989 {
  position:absolute;
  left:2px;
  top:77px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u990 {
  position:absolute;
  left:660px;
  top:2790px;
  width:290px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:171px;
}
#u992 {
  position:absolute;
  left:345px;
  top:2610px;
  width:290px;
  height:170px;
}
#u993 {
  position:absolute;
  left:2px;
  top:77px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u994 {
  position:absolute;
  left:345px;
  top:2790px;
  width:290px;
  height:57px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u996 {
  position:absolute;
  left:861px;
  top:2554px;
  width:89px;
  height:16px;
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
  text-align:right;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u998 {
  position:absolute;
  left:30px;
  top:2857px;
  width:123px;
  height:20px;
}
#u999 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u1000 {
  position:absolute;
  left:345px;
  top:2857px;
  width:123px;
  height:20px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
}
#u1002 {
  position:absolute;
  left:660px;
  top:2857px;
  width:123px;
  height:20px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:110px;
  background:inherit;
  background-color:rgba(27, 27, 27, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u1005 {
  position:absolute;
  left:0px;
  top:2920px;
  width:980px;
  height:110px;
  color:#A1A1A1;
}
#u1006 {
  position:absolute;
  left:2px;
  top:47px;
  width:976px;
  word-wrap:break-word;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  position:absolute;
  left:0px;
  top:70px;
  width:660px;
  height:130px;
}
#u1009 {
  position:absolute;
  left:2px;
  top:57px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1010 {
  position:absolute;
  left:30px;
  top:86px;
  width:134px;
  height:24px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:30px;
  top:120px;
  width:299px;
  height:56px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:370px;
  top:118px;
  width:120px;
  height:35px;
}
#u1015 {
  position:absolute;
  left:20px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:510px;
  top:118px;
  width:120px;
  height:35px;
}
#u1017 {
  position:absolute;
  left:20px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  text-align:left;
}
#u1018 {
  position:absolute;
  left:30px;
  top:470px;
  width:149px;
  height:20px;
  text-decoration:underline;
  text-align:left;
}
#u1019 {
  position:absolute;
  left:2px;
  top:2px;
  width:145px;
  white-space:nowrap;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  text-align:left;
}
#u1020 {
  position:absolute;
  left:191px;
  top:470px;
  width:159px;
  height:20px;
  text-decoration:underline;
  text-align:left;
}
#u1021 {
  position:absolute;
  left:2px;
  top:2px;
  width:155px;
  white-space:nowrap;
}
