body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:500px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:500px;
}
#u2 {
  position:absolute;
  left:2px;
  top:242px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:6px;
  top:62px;
  width:174px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:186px;
  top:62px;
  width:67px;
  height:25px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u4_img.disabled {
}
#u4.disabled {
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:6px;
  top:95px;
}
#u7_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:6px;
  top:144px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:6px;
  top:193px;
}
#u31_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:6px;
  top:242px;
}
#u43_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:6px;
  top:291px;
}
#u55_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:6px;
  top:340px;
}
#u67_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u67_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u71 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:6px;
  top:389px;
}
#u79_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u79_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:6px;
  top:438px;
}
#u91_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u91_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:50px;
}
#u93 {
  position:absolute;
  left:2px;
  top:17px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:4px;
  top:5px;
  width:40px;
  height:40px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u95 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:50px;
  top:7px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:50px;
  top:26px;
  width:91px;
  height:13px;
  font-size:10px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:13px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:196px;
  top:17px;
  width:40px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:54px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:54px;
}
#u103 {
  position:absolute;
  left:2px;
  top:19px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:6px;
  top:2px;
  width:30px;
  height:14px;
  font-size:11px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:217px;
  top:2px;
  width:36px;
  height:14px;
  font-size:11px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:116px;
  top:2px;
  width:28px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:7px;
  top:23px;
  width:20px;
  height:20px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:173px;
  top:22px;
  width:23px;
  height:23px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u113 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:234px;
  top:25px;
  width:17px;
  height:17px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u115 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:202px;
  top:23px;
  width:21px;
  height:21px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:6px;
  top:81px;
  visibility:hidden;
}
#u118_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u118_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:338px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:338px;
}
#u120 {
  position:absolute;
  left:2px;
  top:161px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:39px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:39px;
}
#u122 {
  position:absolute;
  left:2px;
  top:12px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:94px;
  top:11px;
  width:59px;
  height:16px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:216px;
  top:9px;
  width:21px;
  height:21px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u126 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:9px;
  top:50px;
  width:110px;
  height:77px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:77px;
}
#u128 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:127px;
  top:50px;
  width:110px;
  height:77px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:77px;
}
#u130 {
  position:absolute;
  left:2px;
  top:30px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:129px;
  top:50px;
  width:108px;
  height:59px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:59px;
}
#u132 {
  position:absolute;
  left:2px;
  top:22px;
  width:104px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:130px;
  top:110px;
  width:58px;
  height:14px;
  font-size:11px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u135 {
  position:absolute;
  left:11px;
  top:137px;
  width:110px;
  height:77px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:77px;
}
#u136 {
  position:absolute;
  left:2px;
  top:30px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:13px;
  top:137px;
  width:108px;
  height:59px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:59px;
}
#u138 {
  position:absolute;
  left:2px;
  top:22px;
  width:104px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:14px;
  top:197px;
  width:58px;
  height:14px;
  font-size:11px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:14px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
