/* Desktop */
.media-align {
    text-align: center;
}

/* Tablets Portrait */
@media screen and (max-width: 770px) {

    #services .col-1-3 {
        width: 100%;
        padding: 0 30px;
    }
    footer .col-1-2 {
        width: 40%;
    }
    footer .col-1-4 {
        width: 30%;
    }

}
@media screen and (max-width: 710px) {
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.5em;
    }
    #services .col-1-3,
    #contact .col-1-3,
    #contact .col-5-12,
    #contact .col-1-4 {
        width: 100%;
        padding: 0 30px;
    }

    .input-label {
        padding-top: 15px;
        padding-bottom: 5px;
    }
    #ss-submit {
        margin-top: 20px;
    }
    .no-mobile {
        display: none
    }
    footer .col-1-4 {
        width: 50%;
    }

}
/* Smartphones */
@media screen and (max-width: 480px) {

    .logo,
    .primary-nav {
        display: none;
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    .col-1-1, .col-1-2, .col-1-3, .col-2-3, .col-1-4, .col-3-4, .col-5-12 {
        width: 100%;
        padding: 0 30px;
    }
        footer .col-1-4 {
        width: 100%;
    }
    .media-align {
        text-align:left;
    }
    .btn {
        margin: 10px 0;
        width: 100%;
    }
    .no-mobile {
        display: none;
    }
    .m-padding {
        padding-bottom: 20px;
    }
    .service-content {
        height: 300px;
    }

    .col-1-4 {
        margin-bottom: 20px;
    }
}
/* Back to 2007 */
@media screen and (max-width: 320px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
}