body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:600px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:292px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:54px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:54px;
}
#u3 {
  position:absolute;
  left:2px;
  top:19px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:2px;
  width:30px;
  height:14px;
  font-size:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:217px;
  top:2px;
  width:36px;
  height:14px;
  font-size:11px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:116px;
  top:2px;
  width:28px;
  height:14px;
  font-size:11px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:7px;
  top:23px;
  width:20px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:173px;
  top:22px;
  width:23px;
  height:23px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:234px;
  top:25px;
  width:17px;
  height:17px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:6px;
  top:62px;
  width:174px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:25px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:186px;
  top:62px;
  width:67px;
  height:25px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
}
#u17_img.disabled {
}
#u17.disabled {
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:202px;
  top:23px;
  width:21px;
  height:21px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:5px;
  top:92px;
}
#u22_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u24 {
  position:absolute;
  left:2px;
  top:74px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1px;
  top:1px;
  width:117px;
  height:117px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:117px;
}
#u26 {
  position:absolute;
  left:2px;
  top:50px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:3px;
  top:123px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:3px;
  top:141px;
  width:40px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:134px;
  top:92px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u34 {
  position:absolute;
  left:2px;
  top:74px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1px;
  top:1px;
  width:117px;
  height:117px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:117px;
}
#u36 {
  position:absolute;
  left:2px;
  top:50px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:3px;
  top:123px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:3px;
  top:141px;
  width:40px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:5px;
  top:430px;
}
#u42_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u44 {
  position:absolute;
  left:2px;
  top:74px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1px;
  top:1px;
  width:117px;
  height:117px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:117px;
}
#u46 {
  position:absolute;
  left:2px;
  top:50px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:3px;
  top:123px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:3px;
  top:141px;
  width:40px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:134px;
  top:430px;
}
#u52_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u54 {
  position:absolute;
  left:2px;
  top:74px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1px;
  top:1px;
  width:117px;
  height:117px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:117px;
}
#u56 {
  position:absolute;
  left:2px;
  top:50px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:3px;
  top:123px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:3px;
  top:141px;
  width:40px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:5px;
  top:261px;
}
#u62_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u64 {
  position:absolute;
  left:2px;
  top:74px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1px;
  top:1px;
  width:117px;
  height:117px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:117px;
}
#u66 {
  position:absolute;
  left:2px;
  top:50px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:3px;
  top:123px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:3px;
  top:141px;
  width:40px;
  height:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:134px;
  top:261px;
}
#u72_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:163px;
}
#u74 {
  position:absolute;
  left:2px;
  top:74px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1px;
  top:1px;
  width:117px;
  height:117px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:117px;
}
#u76 {
  position:absolute;
  left:2px;
  top:50px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:3px;
  top:123px;
  width:99px;
  height:15px;
  font-size:12px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:3px;
  top:141px;
  width:40px;
  height:16px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
